{{>header}}
<div class="container">
<h1>Pintores</h1>
{{#if pintores}}
<table class="table table-dark table-hover">
    <thead>
        <tr>
           
            <td>Nombre</td>
            <td>Nacionalidad</td>
            <td>Corriente</td>
            <td>Pintura</td>
        </tr>
    </thead>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Goya</td>
            <td>Español</td>
            <td>Romanticistmo</td>
            <td><img src="/images/brujeria.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Da vinci</td>
            <td>Italiano</td>
            <td>Renacimiento</td>
            <td><img src="/images/gioconda.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Monet</td>
            <td>Frances</td>
            <td>Impresionismo</td>
            <td><img src="/images/amapola.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>Dali</td>
            <td>Pulbol</td>
            <td>Surealismo</td>
            <td><img src="/images/jirafa.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
<tbody>
        {{#each pintores}}
        <tr>
            <td>Rembrandt</td>
            <td>neerlandés</td>
            <td>Barroco</td>
            <td><img src="/images/ronda.jpg" ></td>
            <td>{{pintura}}</td> 
        </tr>
        {{/each}}
    </tbody>
    </table>
{{else}}
<div> No se encuentran pintores</div>
{{/if}}
</div>
{{>footer}}
